@import '../../../main.scss';

.question-manager-container {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width:100%;
    height:100%;
    max-width:1215px;
    max-height:700px;
}

.sidebar {
    display:flex;
    flex-direction: column;
    width: 250px;
    height:500px;
    background: #302c2c;
    padding: 42px;
    border-radius: 8px 0px 0px 8px;
}

.domainSidebar {
    display:flex;
    flex-direction: column;
    width: 300px;
    height:500px;
    background: #201d1d;
    padding: 42px;
    border-radius: 0px 0px 0px 0px;
}

.question-list-container {
    background: #110f0f;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;
}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
    .list-menu-item{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: #5f5f5f;
        margin-bottom: 5px;
        p {
             margin: 0px;
             width: 100%;
        }

        &.is-active {
            background-color: #101010;
            color:$dark-blue;
        }
    }
    overflow: auto;

}

.question{
    background: #ffffff;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 5px;
    transition: box-shadow .5s ease, transform .3s ease;
    user-select: none;
    &:not(.complete){
        &:active {
            transform: scale(.95);
        }

        &:hover {
            box-shadow: 0px 0px 5px #cccccc;
        }
    }
    &:hover {
        cursor:pointer;
    }
    &.complete {
        text-decoration: line-through #000000;
        opacity: .5;
    }
}

.circle-add-button {
    position: absolute;
    bottom: 35px;
    right: 35px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}

.btn-rounded-corners {
    border-radius: 25px;
}

.question {
    p {
        margin: 0px;
    }
    background-color: #201d1d;
}

.pull-right {
    float:right;
}

.task-delete {
    &:hover {
        color: red;

    }
    padding: 0px 5px;
}

a.list-menu-item {
    &:hover {
        text-decoration: none;
    }
}

.button {
    background-color: rgb(0, 73, 128);
}


.lang {
    margin-top:3%;
    margin-left: 36%;
}

.customer-form {
    margin-top:-34%;
    margin-left: 57%;
}

.logout{
    padding-top: 20px;
    margin-left: 40%;
}

.logo {    
    top: 0%;
    position: relative;
    width:10%;
    height:10%;
    
}

.viewres{
    position:absolute;
    top: 5%;
    right: 15%;
    margin-left: 10%;
    background-color: #135ab0;

}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
