
<div class="logo" >
    <img src="assets\images\survey_logo.png" alt="">
  </div>
<div class="centered-container">


    <div class="row drop-down" >
        <div class="col">
          <div ngbDropdown class="d-inline-block lang">
            <button type="button" class="btn btn-primary " id="dropdownBasic1" ngbDropdownToggle *ngIf="currentLanguage">{{currentLanguage}}</button>
            <button type="button" class="btn btn-primary " id="dropdownBasic1" ngbDropdownToggle *ngIf="!currentLanguage">Select Language</button>
          
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <button class="btn btn-primary" ngbDropdownItem  *ngFor="let lang of languages" [routerLink] = "['/lang/', lang._id]">
                {{lang.title}}
              </button>
            </div>
          </div>&nbsp; 
          <button type="button" class="btn btn-primary " (click)="addNewLanguage()"><b>+</b></button>
        </div>
    </div>

    <div class="d-inline-block customer-form">
        <button type="button" class="btn btn-primary viewres" (click)="viewCustomer()" > View Responses</button>
            

    </div>

    <div class="question-manager-container">
        <div class="sidebar">
            <h1 class="has-text-primary white-text">Survey</h1>
            <div class="list-menu">
                
                <a class="list-menu-item" *ngFor = "let cat of categories" [routerLink] = "['/lang/', cat._languageId, 'category', cat._id]" routerLinkActive = "is-active">
                    <p class="white-text">{{cat.title}}
                        <span class="pull-right task-delete btn-rounded-corners" (click)="deleteCategory(cat)">X</span>
                    </p>   
                </a>
            </div>
            <button class="btn btn-primary add-button" (click)="addNewSurvey()">Add New Survey</button>
        </div>

        
        <div class="domainSidebar">
            <h1 class="has-text-primary white-text">Domain</h1>
            <div class="list-menu">
                <div class="list-menu-item" *ngFor = "let d of domains" [routerLink] = "['/lang/', languageId ,'category', d._categoryId ,'domains', d._id]" routerLinkActive = "is-active">
                    <p class="white-text">
                        {{d.title}}
                        <span class="pull-right task-delete btn-rounded-corners" (click)="deleteDomain(d)">X</span>
                    </p>
                </div>                
            </div>
            <button class="btn btn-primary add-button" (click)="addNewDomain()">Add Domain</button>
        </div>        

        <div class="question-list-container">
            <h1 class="has-text-primary white-text">Questions</h1>
            <div class="question" *ngFor="let q of questions">
                <p class="white-text">{{q.title}}
                    <span class="pull-right task-delete btn-rounded-corners" (click)="deleteQuestion(q)">X</span>
                </p>  
            </div>
            <button class="btn btn-primary add-button" (click)="addNewQuestion()">Add Questions</button>
            <div class="text">
                <p class="white-text" >Use this ID to share the survey : {{categoryId}}</p>
            </div>

        </div>
        
    </div>
    
</div>


<div class = logout>
    <button class="btn btn-primary" (click)="onLogout()">Log out</button>
</div>