<div class="logo">
    <img src="assets\images\survey_logo.png" alt="">
</div>

<div class="centered-content">
    <div class="register-manager-container">
        <div class = "window">
            <div class="registerForm">
                <form [formGroup]="registerForm">
                    <h1 class="has-text-primary white-text">Register</h1>                    

                    <label for="fname" class="has-text-primary white-text"><b>First Name</b></label>
                    <input formControlName ="fnameCheck" [(ngModel)]="fname" fname="fname" type="text" placeholder="Enter First Name" name="fname" required>

                    <label for="lname" class="has-text-primary white-text"><b>Last Name</b></label>
                    <input formControlName ="lnameCheck" [(ngModel)]="lname" lname="lname" type="text" placeholder="Enter Last Name" name="lname" required>

                    <label for="uname" class="has-text-primary white-text"><b>Email</b></label>
                    <input formControlName ="emailCheck" [(ngModel)]="username" username="username" type="text" placeholder="Enter Email" name="uname" required>

                    <label for="psw" class="has-text-primary white-text"><b>Password</b></label>
                    <input formControlName ="passwordCheck" [(ngModel)]="password" password="password" type="password" placeholder="Enter Password" name="psw" required>

                    <label for="cpsw" class="has-text-primary white-text"><b>Confirm Password</b></label>
                    <input formControlName ="cpasswordCheck" type="password" placeholder="Enter Password" name="cpsw" required>

                    <div class="button-center">
                        <button type="submit" class="btn btn-primary add-button" (click) = "register()">Submit</button> &nbsp;
                        <button type="submit" class="btn btn-primary add-button" (click) = "moveBack()">Back</button>
                    </div>
                </form>
            </div>           
            
        </div>
    </div>
</div>