@import '../../../main.scss';

.button-center{
    text-align: center;
}

h1{
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}

.register-manager-container {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    width:100%;
    height:100%;
    max-width:1215px;
    max-height:120px;
    justify-content: center;
    align-items: center;
    //border-radius: 8px 0px 0px 8px;
    
}

.window{    
    background: #302c2c;    
    border-radius: 8px 8px 8px 8px;
    width: 550px;
    height:600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    position: absolute;
    top: 6%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}