<div class="centered-content">
    <div class="modal-box form-group">
        <h1 class="title"><b>Create New Customer</b></h1>
        <input #title type="text" class="form-control has-background-light" placeholder="Enter New Customer">
        <input #clientId type="text" class="form-control has-background-light" placeholder="Enter Client ID of Customer">

        <button class="btn btn-primary white-text" (click)="addCustomer(title.value, clientId.value)">Add</button>
        <button class="btn btn-primary" routerLink="../">Cancel</button>
    </div>
</div>