<div class="centered-content">
    <div class="modal-box form-group">
        <h1 class="title"><b>Fill the form to continue</b></h1>
        <input #title type="text" class="form-control has-background-light" placeholder="Enter Name">
        <input #age type="text" class="form-control has-background-light" placeholder="Enter Age">
        <input #gender type="text" class="form-control has-background-light" placeholder="Enter Gender">
        <input #surveyId type="text" class="form-control has-background-light" placeholder="Enter Survey Id">


        <button class="btn btn-primary white-text" (click)="addCustomer(title.value, age.value, gender.value, surveyId.value)" >Add</button>
        <button class="btn btn-primary" routerLink="../">Cancel</button>
    </div>
</div>