<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Mania</title>
    <link rel="stylesheet" href="homepage.component.scss">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
</head>
<body>
    <header class="bg2 navigation">
        <a class="logo" href=""> <img src="img/logo.png" alt="" height="30px"> </a>
        <nav>
            <ul class="nav">
                <li><a href="/lang/customer-form">Submit a Survey</a> </li>
                <li><a href="#about">About</a> </li>
                <li><a href="#team">Our Team</a> </li>
                <li><a href="#contact">Contact</a> </li>
            </ul>
        </nav>
        <a class="btn bg3" (click)="loginForm()">Login</a>
    </header>
    <main>
        <section class="sec1">
            <div class="sec1_content">
                <h1 class="color4">Survey Mania is the Best survay tools</h1>
                <p class="color4">Developed by passonate devolopers with love that ease doing sarvays and offer ready to use tools to make your work easy</p>
                <a class="" (click)="registerForm()">Signup Now</a>
            </div>

        </section>

        <section id="about" class="sec2">

            <div class="leftitem">
                <img src="https://i.pinimg.com/originals/77/75/5e/77755e565ef7ddbff2546231cd8732bf.png" alt="">

            </div>
            <div class="rightitem">
                <h1>About Survey Mania</h1>
                <p> Survey Mania is an online platform that allows users to create, distribute, and analyze surveys with ease. It offers a user-friendly interface for both survey creators and respondents. The key feature of Survey Mania is its ability to generate visual representations of survey data, making it easier for users to gain insights from the responses.</p>
                <a class="bg4" href="">Read More</a> 
            </div>

        </section>

        <section id="team" class="team bg2">
            <div class="sectitle">
                <h1>Our Team</h1>
                <p>We are passionate software developers and student of Software engineering masters program at LUT university</p>
            </div>
            <div class="container">

                <div class="infocard bg4"> 
                    <img class="info_img" src="img/umar.jpg" alt="">
                    <h3>Muhammad Umar</h3>
                    <p class="card_sub_t">Full Stack Developer</p>
                    <p>I have worked as a Full Stack Developer</p>
                    <a href="" target="_blank">More</a>
                </div>

                <div class="infocard bg4"> 
                    <img class="info_img" src="img/rifat.jpg" alt="">
                    <h3>Tahmid Refat</h3>
                    <p class="card_sub_t">Backend Developer</p>
                    <p>I have worked on the Backend of the website</p>
                    <a href="" target="_blank">More</a>
                </div>

                <div class="infocard bg4"> 
                    <img class="info_img" src="img/ibrahim.png" alt="">
                    <h3>Ibrahim Mahbub</h3>
                    <p class="card_sub_t">Frontend Developer</p>
                    <p>I have worked on the frontend of the website</p>
                    <a href="https://github.com/IbrahimMahbub" target="_blank">More</a>
                </div>

                <div class="infocard bg4"> 
                    <img class="info_img" src="img/iqbal.jpg" alt="">
                    <h3>Iqbal Hossen</h3>
                    <p class="card_sub_t">Database Developer</p>
                    <p>I have worked on the database of the website</p>
                    <a href="https://github.com/iqbalirha" target="_blank">More</a>
                </div>

                <div class="infocard bg4"> 
                    <img class="info_img" src="img/kanak.jpg" alt="">
                    <h3>Kanak Chakma</h3>
                    <p class="card_sub_t">Frontend Developer</p>
                    <p>I have worked on frontend using HTML & CSS</p>
                    <a href="https://github.com/ChakmaKanak174" target="_blank">More</a>
                </div>

            </div>
        </section>

        <section id="contact" class="conta">
            <div class="con_items">
                <h1>Contact Us</h1>
                <p>For any information, feedback or services please contact us</p>
                <a href="mailto:ibrahim.mahbub@student.lut.fi">Send an email to our Support Team</a>
            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="f_content bg1 color4">
            <p>Copyright © Muhammad Umar, Tahmid Refat, Ibrahim Mahbub, Iqbal Hossen, Kanak Chakma</p>
        </div>

    </footer>
</body>
</html>