@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700&display=swap');

$turquoise: #44ddd0;
$dark-blue: #1985e4;
$danger: #e27e7e;
$blue: #4870b1;

$light: #f4f4f4;

$family-sans-serif: "Nunito", "sans-serif";
$primary:$blue;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


html, body {
    background: white;
}

html, body {
    font-family: "Poppins";
    height: 100%;
}

.white-text {
    color: white;
}

.title {
    color: black;
    font-family: "Poppins";
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 75%;
    width: 100%;
    max-width: 90%;
    background: white;
    border-radius: 5px;
    padding: 20px;
    color: white;
    font-style: bold;
}

.has-background-light {
    background: $light;
}

.is-primary {
    background: $primary;
}

.cancel_add {
  padding-top: 20px;
}