.customer-drop{
    margin-top: 10%;
    margin-left: 45%;
}

.container{
    margin-top: 1%;
    width: 97%;
}

.logo {
    position: absolute;
    top: 8%;
    left: 13%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}