
<div class="customer-drop" *ngIf="!customerId">
    <div ngbDropdown class="d-inline-block lang">
        
        <button type="button" class="Nbtn bg3" id="dropdownBasic1" ngbDropdownToggle *ngIf="currentCustomer">{{currentCustomer}}</button>
        <button type="button" class="Nbtn bg3" id="dropdownBasic1" ngbDropdownToggle *ngIf="!currentCustomer">Select Survey</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <button class="Nbtn bg3" ngbDropdownItem  *ngFor="let cust of customers" [routerLink] = "['/user/', cust._id]">
            {{cust.title}} 
            </button>
            <button class="Nbtn bg3">User id is : {{userId}}</button>
            
        </div>
    </div>
</div>

<div *ngIf="customerId">
    <div class="row drop-down" *ngIf="hideLanguage==false">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="Nbtn bg3" id="dropdownBasic1" ngbDropdownToggle *ngIf="currentLanguage">{{currentLanguage.title}}</button>
                <button type="button" class="Nbtn bg3" id="dropdownBasic1" ngbDropdownToggle *ngIf="!currentLanguage">Select Language</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                  <button class="btn btn-primary" ngbDropdownItem  *ngFor="let lang of languages" [routerLink] = "['/user/',customerId, lang._id]" (click)="categoryIndex=0">
                    {{lang.title}}
                  </button>
                </div>
            </div>
        </div>
    </div>

    
    <section class="sur_top bg4">
        <div class="sur_top_info">
            <h1>Survey Title</h1>
            <p>Survey Description</p>
        </div>
        <div class="sur_top_user">
            <h4>Survey Attemted By: {{currentCustomer}}</h4> 
        </div>

        <div class = "" *ngIf="hideLanguage==false">
            <button class="Nbtn bg3" (click)="onLogout()">Log out</button>
        </div>
    </section>

    <div class="centered-content">

        <!---------------------------------------------------------ALL LANGUAGES-------------------------------->

        <div>
            <div class="form-check form-check-inline form-position" *ngIf="currentLanguage && catSelector==false">
                <br>
                <br><br>
                


                    <br>
                    <br><br> 

                   
                
                <br>
                <div>
                    <button class="Nbtn bg3" (click)="categoriesSelected()">Continue</button>
                </div>
            </div>
        </div>
        

        <div class="modal-box" *ngIf="catSelector==true && surveySubmitted==false">
            <div>
                <br><br>
                <div class="question-box" *ngIf="questions.length>0">
                    <h2  *ngIf="questions[questionIndex]"><b>{{questions[questionIndex].title}}</b>
                    </h2>
                </div><br>
                
                <div class="displayFlex row ">
                    <div  class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 center-el">
                                <input type="radio" value="strongly disagree" [(ngModel)]="userResponse"  name="options" (click)="submitAnswer('Strongly Disagree')">
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline color2">
                                    {{currentLanguage.sdagree}}
                                </label>
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline">
                                    😩
                                </label>
                            </div>
                        </div>
                    </div>
                    <div  class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 center-el">
                                <input type="radio" value="disagree" [(ngModel)]="userResponse"  name="options" (click)="submitAnswer('Disagree')">
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline color2">
                                    {{currentLanguage.dagree}}
                                </label>
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline">
                                    😟
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div  class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 center-el">
                                <input type="radio" value="neutral" [(ngModel)]="userResponse"  name="options" (click)="submitAnswer('Neutral')">
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline color2">
                                    {{currentLanguage.neutral}}
                                </label>
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline">
                                    😐
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 center-el">
                                <input type="radio" value="agree" [(ngModel)]="userResponse" name="options" (click)="submitAnswer('Agree')">
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline color2">
                                    {{currentLanguage.agree}}
                                </label>
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline">
                                    🙂
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 center-el">
                                <input type="radio" value="strongly agree" [(ngModel)]="userResponse" name="options" (click)="submitAnswer('Strongly Agree')">
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline color2">
                                    {{currentLanguage.sagree}}
                                </label>
                            </div>
                            <div class="col-sm-12 center-el">
                                <label class="radio-inline">
                                    😃
                                </label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="footer" id="wrapper">
                <div>  
                    <br>
                    <button class="btn Nbtn bg3" *ngIf="!checkSubmissions() && nextButtonCheck"  (click)="nextQuestion()">Next Question</button>
                </div>
            </div>
            <button class="btn Nbtn bg3" *ngIf="checkSubmissions() && nextButtonCheck" (click)="sendResponses()">Submit</button>
        </div>



        <div class="container" *ngIf="surveySubmitted==true">
            <div class="card">
                <br>
                <div id="positions">
                    <img src="assets\images\thankyou.png" alt="thankyou-survey-submitted">
                </div>
                <br>
                <div class="card-body">Thank You Your Responses Have been Saved</div>
            </div>
        </div>
    </div>
    
</div>




<footer class="nfooter">
    <div class="f_content bg2 color2">
        <p>© 2023 - Survey Mania</p>
    </div>
</footer>