<div class="centered-content">
    <div class="modal-box form-group">
        <h1 class="title"><b>Create New Language Details</b></h1>
        <input #title type="text" class="form-control has-background-light" placeholder="Enter New Language">
        <input #sagree type="text" class="form-control has-background-light" placeholder="Enter Native Version for 'STRONGLY AGREE'">
        <input #agree type="text" class="form-control has-background-light" placeholder="Enter Native Version for 'AGREE'">
        <input #neutral type="text" class="form-control has-background-light" placeholder="Enter Native Version for 'NEUTRAL'">
        <input #disagree type="text" class="form-control has-background-light" placeholder="Enter Native Version for 'DISAGREE'">
        <input #sdagree type="text" class="form-control has-background-light" placeholder="Enter Native Version for 'STRONGLY DISAGREE'">

        <button class="btn btn-primary white-text" (click)="addLanguage(title.value, sagree.value, agree.value, neutral.value, disagree.value, sdagree.value)">Add</button>
        <button class="btn btn-primary" routerLink="../">Cancel</button>
    </div>
</div>